@model ClassLibraryModels.BankTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Transaction_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
